body{
    padding:0;
    margin:0;
}

.topBar{
    display: flex;
    justify-content: space-between
}

.nb ul li{
    display: inline-block;
    margin-right: 25px;
    margin-top: 35px;
    font-size: 12px;
}

.logo img{
    width: 95px;
    height: 85px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.logo img:hover{
    box-shadow: 0 0 50px lightgray;
    transform: scale(1.15);
    transition: 0.7s;
}

.nb ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-family: monospace;

}

.name{
    position: absolute;
    left: 145px;
    top:60px;
    color: white;
    font-size: 13px;
    text-transform: capitalize;
    font-family: monospace;
}

header{
    padding: 25px;
}

section{
    padding: 75px;
}

.homePage{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    margin-left: 200px;
}

.intro{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFBFB;
}

.About{
    width: 539px;
    height: 75px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFAFA;  
}

.Icons a{
    padding-right:25px;
    

}

img.A:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.45s;
    box-shadow: 0 0 10px #C91E29;
    border-radius: 50%;
    animation: logo 0.65s 1;
}

img.B:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.45s;
    box-shadow: 0 0 10px #116BB1;
    border-radius: 50%;
    animation: logo 0.65s 1;
}

img.C:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.45s;
    box-shadow: 0 0 10px #3D0202;
    border-radius: 50%;
    animation: logo 0.65s 1;
}

img.D:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.45s;
    box-shadow: 0 0 10px #025987;
    border-radius: 50%;
    animation: logo 0.65s 1;
}



@keyframes logo {
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
    
}